<a href="https://colab.research.google.com/github/joanby/trading-algoritmico-ml/blob/main/ES_ML_Cap%C3%ADtulo_03_Importar_los_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="45px" src="https://www.quantreo.com/wp-content/uploads/2021/10/Original-on-Transparent.png" align="left" hspace="10px" vspace="0px">
<img alt="Colaboratory logo" height="45px" src="https://static-881c.kxcdn.com/wp-content/uploads/2016/03/frogamesLogoFull4.png" align="left" hspace="10px" vspace="0px"></p>

 # Importar los datos
La importaci√≥n de los datos es lo m√°s importante. En efecto, unos datos err√≥neos podr√≠an permitirnos tomar decisiones equivocadas sobre las estrategias a utilizar y, por tanto, perder dinero. Vamos a ver la librer√≠a de finanzas que nos permitir√° importar los precios de yahoo finance con extrema facilidad. Sin embargo, esta facilidad tiene un precio. A veces los datos de yahoo son de mala calidad en algunos activos. 

<br>
<br>


**Es imprescindible verificar las estrategias de trading creadas utilizando los datos de su broker a posteriori. <br>
TODOS LOS NOMBRES DE LOS TELETIPOS SON LOS MISMOS QUE LOS DEL SITIO WEB DE YAHOO FINANCE**

<br>

### Contenido
* Librer√≠a de Yahoo Finance 
* Algunas otras formas

</br>



üí∞ √önete a la comunidad de [Discord](https://discord.gg/z3dx5XpkX4)

üìö Puedes leer nuestro libro en [Amazon](https://www.amazon.es/Python-para-finanzas-trading-algor%C3%ADtmico-ebook/dp/B0BT4ZS9Q3/)

üñ•Ô∏è El canal de [YouTube de Quantreo's](https://www.youtube.com/channel/UCp7jckfiEglNf_Gj62VR0pw) (en ingl√©s) y el de [Frogames](https://www.youtube.com/channel/UCMUxXNYrVCv6-bQakhomvBg) en espa√±ol

In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 62 kB 1.6 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

# Secci√≥n 1: La librer√≠a de Yahoo Finance

In [2]:
# Importar la librer√≠a yfinance 
import yfinance as yf

In [3]:
# Importar simple de datos
yf.download("GOOG")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-08-19,2.490664,2.591785,2.390042,2.499133,2.499133,897427216
2004-08-20,2.515820,2.716817,2.503118,2.697639,2.697639,458857488
2004-08-23,2.758411,2.826406,2.716070,2.724787,2.724787,366857939
2004-08-24,2.770615,2.779581,2.579581,2.611960,2.611960,306396159
2004-08-25,2.614201,2.689918,2.587302,2.640104,2.640104,184645512
...,...,...,...,...,...,...
2022-09-22,99.449997,101.680000,99.410004,100.570000,100.570000,21272700
2022-09-23,100.059998,100.110001,98.010002,99.169998,99.169998,25645100
2022-09-26,98.610001,100.440002,98.379997,98.809998,98.809998,22437900
2022-09-27,99.910004,100.459999,97.339996,98.089996,98.089996,24225000
2022-09-28,98.019997,101.400002,97.800003,100.739998,100.739998,24594800

In [4]:
# Importaci√≥n m√∫ltiple
ticker_list = ["GOOG", "EURUSD=X", "^GSPC"]
yf.download(ticker_list)

[*********************100%***********************]  3 of 3 completed

           Adj Close                              Close              \
            EURUSD=X        GOOG        ^GSPC  EURUSD=X        GOOG
Date
1950-01-03       NaN         NaN    16.660000       NaN         NaN
1950-01-04       NaN         NaN    16.850000       NaN         NaN
1950-01-05       NaN         NaN    16.930000       NaN         NaN
1950-01-06       NaN         NaN    16.980000       NaN         NaN
1950-01-09       NaN         NaN    17.080000       NaN         NaN
...              ...         ...          ...       ...         ...
2022-09-23  0.984155   99.169998  3693.229980  0.984155   99.169998
2022-09-26  0.968992   98.809998  3655.040039  0.968992   98.809998
2022-09-27  0.962371   98.089996  3647.290039  0.962371   98.089996
2022-09-28  0.959619  100.739998  3719.040039  0.959619  100.739998
2022-09-29  0.969274         NaN          NaN  0.969274         NaN

                             High                                Low  \
                  ^GSPC  EURUSD=X        GOOG        ^GSPC  EURUSD=X
Date
1950-01-03    16.660000       NaN         NaN    16.660000       NaN
1950-01-04    16.850000       NaN         NaN    16.850000       NaN
1950-01-05    16.930000       NaN         NaN    16.930000       NaN
1950-01-06    16.980000       NaN         NaN    16.980000       NaN
1950-01-09    17.080000       NaN         NaN    17.080000       NaN
...                 ...       ...         ...          ...       ...
2022-09-23  3693.229980  0.985222  100.110001  3727.139893  0.970393
2022-09-26  3655.040039  0.969989  100.440002  3715.669922  0.958231
2022-09-27  3647.290039  0.967006  100.459999  3717.530029  0.959453
2022-09-28  3719.040039  0.968626  101.400002  3736.739990  0.954016
2022-09-29          NaN  0.973899         NaN          NaN  0.964041

                                        Open                           \
                 GOOG        ^GSPC  EURUSD=X        GOOG        ^GSPC
Date
1950-01-03        NaN    16.660000       NaN         NaN    16.660000
1950-01-04        NaN    16.850000       NaN         NaN    16.850000
1950-01-05        NaN    16.930000       NaN         NaN    16.930000
1950-01-06        NaN    16.980000       NaN         NaN    16.980000
1950-01-09        NaN    17.080000       NaN         NaN    17.080000
...               ...          ...       ...         ...          ...
2022-09-23  98.010002  3647.469971  0.984155  100.059998  3727.139893
2022-09-26  98.379997  3644.760010  0.968992   98.610001  3682.719971
2022-09-27  97.339996  3623.290039  0.962371   99.910004  3686.439941
2022-09-28  97.800003  3640.610107  0.959619   98.019997  3651.939941
2022-09-29        NaN          NaN  0.973710         NaN          NaN

             Volume
           EURUSD=X        GOOG         ^GSPC
Date
1950-01-03      NaN         NaN  1.260000e+06
1950-01-04      NaN         NaN  1.890000e+06
1950-01-05      NaN         NaN  2.550000e+06
1950-01-06      NaN         NaN  2.010000e+06
1950-01-09      NaN         NaN  2.520000e+06
...             ...         ...           ...
2022-09-23      0.0  25645100.0  5.144270e+09
2022-09-26      0.0  22437900.0  4.886140e+09
2022-09-27      0.0  24225000.0  4.577740e+09
2022-09-28      0.0  24594800.0  0.000000e+00
2022-09-29      0.0         NaN           NaN

[18478 rows x 18 columns]

In [5]:
# Personalizar los rangos de datos
yf.download(ticker_list, start="2000-01-01", end="2010-01-01")

[*********************100%***********************]  3 of 3 completed

           Adj Close                             Close             \
            EURUSD=X       GOOG        ^GSPC  EURUSD=X       GOOG
Date
2000-01-03       NaN        NaN  1455.219971       NaN        NaN
2000-01-04       NaN        NaN  1399.420044       NaN        NaN
2000-01-05       NaN        NaN  1402.109985       NaN        NaN
2000-01-06       NaN        NaN  1403.449951       NaN        NaN
2000-01-07       NaN        NaN  1441.469971       NaN        NaN
...              ...        ...          ...       ...        ...
2009-12-28  1.437505  15.513601  1127.780029  1.437505  15.513601
2009-12-29  1.434309  15.427175  1126.199951  1.434309  15.427175
2009-12-30  1.434206  15.510114  1126.420044  1.434206  15.510114
2009-12-31  1.432706  15.441621  1115.099976  1.432706  15.441621
2010-01-01  1.438994        NaN          NaN  1.438994        NaN

                             High                               Low  \
                  ^GSPC  EURUSD=X       GOOG        ^GSPC  EURUSD=X
Date
2000-01-03  1455.219971       NaN        NaN  1478.000000       NaN
2000-01-04  1399.420044       NaN        NaN  1455.219971       NaN
2000-01-05  1402.109985       NaN        NaN  1413.270020       NaN
2000-01-06  1403.449951       NaN        NaN  1411.900024       NaN
2000-01-07  1441.469971       NaN        NaN  1441.469971       NaN
...                 ...       ...        ...          ...       ...
2009-12-28  1127.780029  1.441504  15.591310  1130.380005  1.435627
2009-12-29  1126.199951  1.445609  15.562667  1130.380005  1.433897
2009-12-30  1126.420044  1.436204  15.510114  1126.420044  1.427796
2009-12-31  1115.099976  1.443897  15.576615  1127.640015  1.431045
2010-01-01          NaN  1.440196        NaN          NaN  1.432706

                                        Open                           Volume  \
                 GOOG        ^GSPC  EURUSD=X       GOOG        ^GSPC EURUSD=X
Date
2000-01-03        NaN  1438.359985       NaN        NaN  1469.250000      NaN
2000-01-04        NaN  1397.430054       NaN        NaN  1455.219971      NaN
2000-01-05        NaN  1377.680054       NaN        NaN  1399.420044      NaN
2000-01-06        NaN  1392.099976       NaN        NaN  1402.109985      NaN
2000-01-07        NaN  1400.729980       NaN        NaN  1403.449951      NaN
...               ...          ...       ...        ...          ...      ...
2009-12-28  15.404261  1123.510010  1.437484  15.483464  1127.530029      0.0
2009-12-29  15.399529  1126.079956  1.437505  15.560177  1128.550049      0.0
2009-12-30  15.392555  1121.939941  1.434803  15.404759  1125.530029      0.0
2009-12-31  15.441621  1114.810059  1.434206  15.560426  1126.599976      0.0
2010-01-01        NaN          NaN  1.432706        NaN          NaN      0.0


                  GOOG         ^GSPC
Date
2000-01-03         NaN  9.318000e+08
2000-01-04         NaN  1.009000e+09
2000-01-05         NaN  1.085500e+09
2000-01-06         NaN  1.092300e+09
2000-01-07         NaN  1.225200e+09
...                ...           ...
2009-12-28  68170566.0  2.716400e+09
2009-12-29  57205620.0  2.491020e+09
2009-12-30  58843737.0  2.277300e+09
2009-12-31  48974884.0  2.076990e+09
2010-01-01         NaN           NaN

[2572 rows x 18 columns]

In [8]:
# Personalizar el intervalo de datos
yf.download(ticker_list, start="2000-01-01", end="2010-01-01", interval="1mo")

[*********************100%***********************]  3 of 3 completed

           Adj Close                             Close             \
            EURUSD=X       GOOG        ^GSPC  EURUSD=X       GOOG
Date
2000-01-01       NaN        NaN  1394.459961       NaN        NaN
2000-02-01       NaN        NaN  1366.420044       NaN        NaN
2000-03-01       NaN        NaN  1498.579956       NaN        NaN
2000-04-01       NaN        NaN  1452.430054       NaN        NaN
2000-05-01       NaN        NaN  1420.599976       NaN        NaN
...              ...        ...          ...       ...        ...
2009-09-01  1.465502  12.349959  1057.079956  1.465502  12.349959
2009-10-01  1.473297  13.352950  1036.189941  1.473297  13.352950
2009-11-01  1.503895  14.520573  1095.630005  1.503895  14.520573
2009-12-01  1.432706  15.441621  1115.099976  1.432706  15.441621
2010-01-01  1.387694        NaN          NaN  1.387694        NaN

                             High                               Low  \
                  ^GSPC  EURUSD=X       GOOG        ^GSPC  EURUSD=X
Date
2000-01-01  1394.459961       NaN        NaN  1478.000000       NaN
2000-02-01  1366.420044       NaN        NaN  1444.550049       NaN
2000-03-01  1498.579956       NaN        NaN  1552.869995       NaN
2000-04-01  1452.430054       NaN        NaN  1527.189941       NaN
2000-05-01  1420.599976       NaN        NaN  1481.510010       NaN
...                 ...       ...        ...          ...       ...
2009-09-01  1057.079956  1.483746  12.627668  1080.150024  1.420313
2009-10-01  1036.189941  1.505911  13.988567  1101.359985  1.451379
2009-11-01  1095.630005  1.514532  14.621694  1113.689941  1.462908
2009-12-01  1115.099976  1.513775  15.591310  1130.380005  1.422192
2010-01-01          NaN  1.457705        NaN          NaN  1.385406

                                        Open                           Volume  \
                 GOOG        ^GSPC  EURUSD=X       GOOG        ^GSPC EURUSD=X
Date
2000-01-01        NaN  1350.140015       NaN        NaN  1469.250000      NaN
2000-02-01        NaN  1325.069946       NaN        NaN  1394.459961      NaN
2000-03-01        NaN  1346.619995       NaN        NaN  1366.420044      NaN
2000-04-01        NaN  1339.400024       NaN        NaN  1498.579956      NaN
2000-05-01        NaN  1361.089966       NaN        NaN  1452.430054      NaN
...               ...          ...       ...        ...          ...      ...
2009-09-01  11.272498   991.969971  1.422030  11.449086  1019.520020      0.0
2009-10-01  12.019946  1019.950012  1.454334  12.278975  1054.910034      0.0
2009-11-01  13.156686  1029.380005  1.473297  13.376860  1036.180054      0.0
2009-12-01  14.425430  1085.890015  1.503443  14.648344  1098.890015      0.0
2010-01-01        NaN          NaN  1.432706        NaN          NaN      0.0


                    GOOG         ^GSPC
Date
2000-01-01           NaN  2.149440e+10
2000-02-01           NaN  2.091200e+10
2000-03-01           NaN  2.615620e+10
2000-04-01           NaN  2.010646e+10
2000-05-01           NaN  1.989830e+10
...                  ...           ...
2009-09-01  2.050842e+09  1.122955e+11
2009-10-01  3.098551e+09  1.134110e+11
2009-11-01  1.642381e+09  8.498153e+10
2009-12-01  1.711202e+09  8.951533e+10
2010-01-01           NaN           NaN

[121 rows x 18 columns]

# Algunos otros apuntes
* **Puntos Fuertes**
> * Utilizaci√≥n muy sencilla
> * Muy f√°cil de encontrar el s√≠mbolo propuesto yendo al sitio web de Yahoo Finanzas 
> * Hay muchos datos. Muy √∫til para crear una cartera 

* **Puntos D√©biles**
> * Hay muchos errores en los datos. Por lo tanto, tenemos que utilizar otra fuente de datos para el algoritmo de trading real

</br>

Importar directamente desde el brocker (Lo veremos en las siguientes parte)
* AlphaVantage
* MorningStar